{% load static %}
<style>
    .container {
        position: relative;
        text-align: center;
        color: white;
      }
      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      a{
        text-decoration: none;
      }
</style>
<div class="container">
    <img src="{% static 'core/images/CA.jpg' %}" alt="CA" width="100%" style="-webkit-filter: blur(5px); ">
    <h1 class="centered" style="text-shadow: 0 0 50px #565957; font-weight: bold; font-family: Georgia;">Department of Information Technology</h1>
</div>
<div class="container text-white mt-3">
    <p style="background-color: #1a47a1"><em>Hello, I am Deep Kumar Goenka from the Department of Information Technology and in this website you will get all the Verilog Codes which are in Computer Architecture Laboratory syllabus. These codes are done in EDA Playground.</em></p>
</div>
<div class="container text-black mt-4 border border-info" style="margin-bottom: 70px; background-color: #a8edbb;">
    <h2 style="font-family: Garamond; padding-top: 30px; padding-bottom: 30px; text-decoration-line: underline; text-decoration-style: wavy;">VERILOG CODES</h2>
    <div style="text-align: left; font-family: Verdana;">
      <h3 class="text-danger font-weight-bold"><u>Lab Session: 1</u></h3>
      <h4 class="font-weight-bold">Basic Gates</h4>
      <h5>OR Gates: <a href="https://www.edaplayground.com/x/6mzA" target="_blank">https://www.edaplayground.com/x/6mzA</a></h5>
      <h5>AND Gates: <a href="https://www.edaplayground.com/x/kaVB" target="_blank">https://www.edaplayground.com/x/kaVB</a> </h5>
      <h5>NOT Gates: <a href="https://www.edaplayground.com/x/gGG6" target="_blank">https://www.edaplayground.com/x/gGG6</a></h5>
      <h4 class="font-weight-bold">Universal Gates</h4>
      <h5>NOR Gates: <a href="https://www.edaplayground.com/x/UyzR" target="_blank">https://www.edaplayground.com/x/UyzR</a></h5>
      <h5>NAND Gates: <a href="https://www.edaplayground.com/x/Zqzu" target="_blank">https://www.edaplayground.com/x/Zqzu</a></h5>
      <h4 class="font-weight-bold">Exclusive Gates</h4>
      <h5>XOR Gates: <a href="https://www.edaplayground.com/x/Cx4M" target="_blank">https://www.edaplayground.com/x/Cx4M</a></h5>
      <h5>XNOR Gates: <a href="https://www.edaplayground.com/x/YAaJ" target="_blank">https://www.edaplayground.com/x/YAaJ</a></h5>
    </div>

    <hr class="border-success">
    <div style="text-align: left; font-family: Verdana;">
      <h3 class="text-danger font-weight-bold"><u>Lab Session: 2</u></h3>
      <h5>Tristate Buffer: <a href="https://www.edaplayground.com/x/sjjE" target="_blank">https://www.edaplayground.com/x/sjjE</a></h5>
      <h5>4-bit Unidirectional Bus: <a href="https://www.edaplayground.com/x/Zd4C" target="_blank">https://www.edaplayground.com/x/Zd4C</a></h5>
    </div>

    <hr class="border-success">
    <div style="text-align: left; font-family: Verdana;">
      <h3 class="text-danger font-weight-bold"><u>Lab Session: 3</u></h3>
      <h5>Majority Circuit: <a href="https://www.edaplayground.com/x/i774" target="_blank">https://www.edaplayground.com/x/i774</a></h5>
      <h5>Two's Complementer: <a href="https://www.edaplayground.com/x/qTfC" target="_blank">https://www.edaplayground.com/x/qTfC</a></h5>
      <h5>Function Minimization: <a href="https://www.edaplayground.com/x/Etmk" target="_blank">https://www.edaplayground.com/x/Etmk</a></h5>
    </div>

    <hr class="border-success">
    <div style="text-align: left; font-family: Verdana;">
      <h3 class="text-danger font-weight-bold"><u>Lab Session: 4</u></h3>
      <h5>Multiplexer (4 to 1): <a href="https://www.edaplayground.com/x/kCq6" target="_blank">https://www.edaplayground.com/x/kCq6</a></h5>
      <h5>8-to-1 Multiplexer: <a href="https://www.edaplayground.com/x/MapQ" target="_blank">https://www.edaplayground.com/x/MapQ</a></h5>
      <h5>Decoder (3 to 8): <a href="https://www.edaplayground.com/x/sKEj" target="_blank">https://www.edaplayground.com/x/sKEj</a></h5>
    </div>

    <hr class="border-success">
    <div style="text-align: left; font-family: Verdana;">
      <h3 class="text-danger font-weight-bold"><u>Lab Session: 5</u></h3>
      <h5>Function Implementation using Decoder: <a href="https://www.edaplayground.com/x/NuWU" target="_blank">https://www.edaplayground.com/x/NuWU</a></h5>
      <h5>Priority Encoder: <a href="https://www.edaplayground.com/x/h2bG" target="_blank">https://www.edaplayground.com/x/h2bG</a></h5>
      <h5>Magnitude Comparator: <a href="https://www.edaplayground.com/x/VNPc" target="_blank">https://www.edaplayground.com/x/VNPc</a></h5>
    </div>
    
    <hr class="border-success">
    <div style="text-align: left; font-family: Verdana;">
      <h3 class="text-danger font-weight-bold"><u>Lab Session: 6</u></h3>
      <h5>Binary-to-BCD Converter: <a href="https://www.edaplayground.com/x/mkjg" target="_blank">https://www.edaplayground.com/x/mkjg</a></h5>
      <h5>Binary to Gray Code Converter: <a href="https://www.edaplayground.com/x/J7t8" target="_blank">https://www.edaplayground.com/x/J7t8</a></h5>
      <h5>Gray Code to Binary Converter: <a href="https://www.edaplayground.com/x/bzeJ" target="_blank">https://www.edaplayground.com/x/bzeJ</a></h5>
      <h5>Binary to Excess-3 Code Converter: <a href="https://www.edaplayground.com/x/gXVg" target="_blank">https://www.edaplayground.com/x/gXVg</a></h5>
      <h5>Excess-3 Code to Binary Converter: <a href="https://www.edaplayground.com/x/Djeq" target="_blank">https://www.edaplayground.com/x/Djeq</a></h5>
    </div>
    
    <hr class="border-success">
    <div style="text-align: left; font-family: Verdana;">
      <h3 class="text-danger font-weight-bold"><u>Lab Session: 7</u></h3>
      <h5>Half Adder: <a href="https://www.edaplayground.com/x/QMX4" target="_blank">https://www.edaplayground.com/x/QMX4</a></h5>
      <h5>Full Adder: <a href="https://www.edaplayground.com/x/dr8Q" target="_blank">https://www.edaplayground.com/x/dr8Q</a></h5>
      <h5>4-bit Adder/Subtractor: <a href="https://www.edaplayground.com/x/PEFu" target="_blank">https://www.edaplayground.com/x/PEFu</a></h5>
    </div>
    
    <hr class="border-success">
    <div style="text-align: left; font-family: Verdana;">
      <h3 class="text-danger font-weight-bold"><u>Lab Session: 8</u></h3>
      <h5>Incrementer Circuit (4-bit): <a href="https://www.edaplayground.com/x/FBuk" target="_blank">https://www.edaplayground.com/x/FBuk</a></h5>
      <h5>Decrementer Circuit (4-bit): <a href="https://www.edaplayground.com/x/E4Jc" target="_blank">https://www.edaplayground.com/x/E4Jc</a></h5>
    </div>
    
    <hr class="border-success">
    <div style="text-align: left; font-family: Verdana;">
      <h3 class="text-danger font-weight-bold"><u>Lab Session: 9</u></h3>
      <h5>D Flip Flop: <a href="https://www.edaplayground.com/x/L3vE" target="_blank">https://www.edaplayground.com/x/L3vE</a></h5>
      <h5>S-R Flip Flop: <a href="https://www.edaplayground.com/x/HfBP" target="_blank">https://www.edaplayground.com/x/HfBP</a></h5>
      <h5>J-K Flip Flop: <a href="https://www.edaplayground.com/x/k5Fs" target="_blank">https://www.edaplayground.com/x/k5Fs</a></h5>
      <h5>T Flip Flop: <a href="https://www.edaplayground.com/x/E4Au" target="_blank">https://www.edaplayground.com/x/E4Au</a></h5>
    </div>
    
    <hr class="border-success">
    <div style="text-align: left; font-family: Verdana;">
      <h3 class="text-danger font-weight-bold"><u>Lab Session: 10</u></h3>
      <h5>4-bit Up-Down Counter: <a href="https://www.edaplayground.com/x/EVbQ" target="_blank">https://www.edaplayground.com/x/EVbQ</a></h5>
      <h5>Random Counter: <a href="https://www.edaplayground.com/x/MrFZ" target="_blank">https://www.edaplayground.com/x/MrFZ</a></h5>
      <h5>Mod-10 Counter: <a href="https://www.edaplayground.com/x/CqFK" target="_blank">https://www.edaplayground.com/x/CqFK</a></h5>
      <h5>Ring Counter: <a href="https://www.edaplayground.com/x/EYXD" target="_blank">https://www.edaplayground.com/x/EYXD</a></h5>
      <h5>Johnson Counter: <a href="https://www.edaplayground.com/x/pS6x" target="_blank">https://www.edaplayground.com/x/pS6x</a></h5>
    </div>
    
    <hr class="border-success">
    <div style="text-align: left; font-family: Verdana;">
      <h3 class="text-danger font-weight-bold"><u>Lab Session: 11</u></h3>
      <h5>SISO: <a href="https://www.edaplayground.com/x/Yp4b" target="_blank">https://www.edaplayground.com/x/Yp4b</a></h5>
      <h5>SIPO: <a href="https://www.edaplayground.com/x/vS7g" target="_blank">https://www.edaplayground.com/x/vS7g</a></h5>
      <h5>PISO: <a href="https://www.edaplayground.com/x/Qsvf" target="_blank">https://www.edaplayground.com/x/Qsvf</a></h5>
      <h5>PIPO: <a href="https://www.edaplayground.com/x/mPWL" target="_blank">https://www.edaplayground.com/x/mPWL</a></h5>
      <h5>GPR: <a href="https://www.edaplayground.com/x/ge_D" target="_blank">https://www.edaplayground.com/x/ge_D</a></h5>
    </div>
    
    <hr class="border-success">
    <div style="text-align: left; font-family: Verdana;">
      <h3 class="text-danger font-weight-bold"><u>Lab Session: 12</u></h3>
      <h5>RAM Realization: <a href="https://www.edaplayground.com/x/Dd97" target="_blank">https://www.edaplayground.com/x/Dd97</a></h5>
      <h4 class="font-weight-bold">RAM Cascading</h4>
      <h5>Horizontal Expansion: <a href="https://www.edaplayground.com/x/EADK" target="_blank">https://www.edaplayground.com/x/EADK</a></h5>
      <h5>Vertical Expansion: <a href="https://www.edaplayground.com/x/jJLX" target="_blank">https://www.edaplayground.com/x/jJLX</a></h5>
      <h5>Hybrid Expansion: <a href="https://www.edaplayground.com/x/AycS" target="_blank">https://www.edaplayground.com/x/AycS</a></h5>
      <h5>ROM Realization: <a href="https://www.edaplayground.com/x/pgZg" target="_blank">https://www.edaplayground.com/x/pgZg</a></h5>
    </div>
    
    <hr class="border-success">
    <div style="text-align: left; font-family: Verdana;">
      <h3 class="text-danger font-weight-bold"><u>Lab Session: 13</u></h3>
      <h5>Arithmetic and Logical Unit (ALU): <a href="https://www.edaplayground.com/x/9Kqq" target="_blank">https://www.edaplayground.com/x/9Kqq</a></h5>
    </div>
    
    <hr class="border-success">
    <div style="text-align: left; font-family: Verdana;">
      <h3 class="text-danger font-weight-bold"><u>Lab Session: 14</u></h3>
      <h5>Moore FSM Sequence Detector: <a href="https://www.edaplayground.com/x/9scD" target="_blank">https://www.edaplayground.com/x/9scD</a></h5>
    </div>
</div>